@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-text{
    color: #acea00 !important;
}

.bg-green{
    background-color: #acea00 !important;
    cursor: pointer !important;
}



.lower-logo{
    width: 100px;
    height: 100px;
}
