@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-text{
    color: #acea00 !important;
}

.bg-green{
    background-color: #acea00 !important;
    cursor: pointer !important;
}



.lower-logo{
    width: 100px;
    height: 100px;
}

.success{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
 
}
.hide{
    display: none !important;
}
.show{
    display: flex !important;
}

.success .inner{
    height: 350px;
    width: 350px;
    background-color: white;
    padding: 50px;
}


.icon i{
   font-size: 70px;
}
.icon2 i{
   font-size: 40px;
}

.black i{
    color: black !important ;
    font-size: 40px;

}

.closed:hover{
    color:#acea00;
    cursor: pointer;
}

.iom{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .mobile-image{
        object-fit: cover !important;
        transform-origin: 20% 40%;
        transform: translateX(-40%);
    }


#button{
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #129501; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }


@media screen and (max-width: 500px){
    .mobile-image{
        object-fit: fit !important;
        transform-origin: 20% 100%;
        transform: translateX(-40%);
    }
}